body {
    font-family: 'Open Sans', sans-serif;
    background-color: #e8e8e8;
}

header, footer {
  color: grey;
  padding: 1%;
  clear: both;
  }

header {
    font-size: 1.5em;
    background-image: url("./swirl_pattern.png");
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}

h1, h2 {
    font-family: 'Patua One', cursive;
    letter-spacing: 2px;
}

.bold {
    font-weight: bolder;
}

.column-1 {
  float: left;
  width: 48%;
  padding: 1%;
  color: grey;
}

.column-2 {
  float: left;
  width: 48%;
  padding: 1%;
  color: grey;
}

section {
  
}

footer {
    text-align: center;
    background-color: lightgray;
}

a {
    text-decoration: none;
    color: #9c9c9c;
}

a:hover {
    color: white;
}