<!DOCTYPE html>
<html>
<head>
    <title>Enter a New Pair Score</title>
</head>
<body>
    <form action="/participants" method="POST">
        <input type="text" name="winner" placeholder="Winner"><br>
        <input type="text" name="loser" placeholder="Loser"><br>
        <br>
        <button type="submit">Save</button>
    </form>
</body>
</html>